#sort-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sort-1 li {
    margin: 0 5px 5px 5px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 18px;
}
.default {
    background: gray;
    border: 2px solid gray;
    color: black;
}
.handle {
    cursor: pointer;
}
a {
    text-decoration: none;
}

